language: groovy
jdk:
- oraclejdk7
branches:
  only:
  - master
before_install:
- rm -rf ~/.gvm
- curl -s get.gvmtool.net > ~/install_gvm.sh
- chmod 775 ~/install_gvm.sh
- ~/install_gvm.sh
- echo "gvm_auto_answer=true" > ~/.gvm/etc/config
- source ~/.gvm/bin/gvm-init.sh
- GRAILS_VERSION=`grep '^app\.grails\.version=' ./application.properties | sed -e
  's/^app\.grails\.version=//g'`
- gvm install grails $GRAILS_VERSION || true
before_script:
- mkdir -p ~/.grails; wget -q -O ~/.grails/settings.groovy https://raw.githubusercontent.com/AtlasOfLivingAustralia/travis-build-configuration/master/travis_grails_settings_new.groovy
- MAVEN_REPO="ala-repo-snapshot"; grep '^app\.version=' ./application.properties |
  grep -q "\-SNAPSHOT"; if [ "$?" = "1" ]; then MAVEN_REPO="ala-repo-release"; fi;
script: grails clean && grails refresh-dependencies --non-interactive && grails prod
  war --non-interactive && grails prod maven-install --repository=$MAVEN_REPO --non-interactive
after_script: [ ${TRAVIS_PULL_REQUEST} = 'false' ] &&  grails prod maven-deploy --repository=$MAVEN_REPO --non-interactive
env:
  global:
  - secure: CbOVRSa0hysmSVgOyMt5uh4lKxYg33HlGfBsFVTddSo+9HbsKVyHz8QH2m/pcLxmzWZjRWMAU8jjt05qeegoDH9UONQHjdKW5Eb0MrWMXDEnmBVZcRC0teq4P7nXGC9jqe/fpIL//8sKI7agcLAMHbCBuUp7FEO65aVV5BueuGc=
  - secure: VgmYz8fkSOuZkERbNvTk1RL2cFtJ8b2lG3YGpKN/GtZwdUnxIhiMctPk4+PTBQvaWLo4wQCikM8cpFd+APgbUIBUOQiflJYfnpG0RY0avGIxWlY31f5EYdhu4WXSbzT3FxkSIgxvWbr9//nwA30QA/aIOo+/ZgPINYYqWRGw1CA=
